[Unit]
Description=logstash-json

[Service]
Type=simple
User=logstash
Group=logstash
EnvironmentFile=-/etc/sysconfig/logstash-json
ExecStart=/usr/share/logstash/bin/logstash "--path.settings" "/etc/logstash-json"
Restart=always
WorkingDirectory=/
Nice=19
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
