[Unit]
Description=logstash-beats

[Service]
Type=simple
User=logstash
Group=logstash
EnvironmentFile=-/etc/sysconfig/logstash-beats
ExecStart=/usr/share/logstash/bin/logstash "--path.settings" "/etc/logstash-beats"
Restart=always
WorkingDirectory=/
Nice=19
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
