Port 22
Protocol 2
SyslogFacility AUTHPRIV
LoginGraceTime 1m
PermitRootLogin no
StrictModes yes
MaxAuthTries 3
MaxSessions 10

PasswordAuthentication no
ChallengeResponseAuthentication no
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
AuthorizedKeysCommand /usr/bin/sss_ssh_authorizedkeys
AuthorizedKeysCommandUser nobody
PubkeyAuthentication no

RekeyLimit default none
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com

UsePAM yes
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

AllowTcpForwarding no
AllowAgentForwarding no
X11Forwarding no

PubkeyAuthentication yes
UsePrivilegeSeparation sandbox
Banner /etc/issue

IgnoreRhosts yes
ClientAliveInterval 30
ClientAliveCountMax 0
PermitEmptyPasswords no
PermitUserEnvironment no

Subsystem       sftp    /usr/libexec/openssh/sftp-server

## Access
DenyUsers root bin daemon adm lp sync shutdown halt mail operator games ftp nobody systemd-network dbus polkitd postfix sshd
AllowUsers *@ *@x.x.x.x *@x.x.x.x

Match User naughty
  PasswordAuthentication yes

## Ansible
Match Address !x.x.x.x,!x.x.x.x
  DenyUsers ansible

Match Address x.x.x.x,!x.x.x.x
  PubkeyAuthentication yes
  AllowUsers ansible
